// h1,h2,h3,h4,h5,h6,p {
//    line-height: 1.45;
// }

h1 { font-size: 2em; }
h2 { font-size: 2.6em; }

html {
  height: 100%;
}

body {
  background: url(image-path("bg.jpg")) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
  height: 100%;
  @include font-smoothing(antialiased);
}


main.home {
  height: 100%;
  @extend .container;

  .row {
    height: 100%;
  }

  .left-col, .right-col {
    height: 100%;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }

  .left-col-inner {
    padding-bottom: 200px;
  }


  h1 {
    color: #fff;
    @include text-shadow(rgba(0, 0, 0, 0.8) 2px 2px 2px);
    // font-size: 70px;
    font-family: 'Sonsie One', sans-serif;
    color: rgba(146, 255, 210, 1);
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    color: #fff;
    @include text-shadow(rgba(0, 0, 0, 0.8) 0px 2px 2px);
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
  }

  .call-to-action {
    text-align: center;
  }

  .app-store-btn {
    @include hide-text;
    background: url(image-path("download-app-store.svg")) no-repeat;
    background-size: 200px;
    background-position: center;
    width: 200px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  .video-play {
    vertical-align: middle;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    display: inline-block;

    .fa {
      font-size: 50px;
      vertical-align: middle;
    }
  }


  .hand {
    background: url(image-path("iphone6.png"))  no-repeat center center;
    background-size: 518px 619px;
    width: 518px;
    height: 619px;
  }

}

