@charset "utf-8";

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@import "bootstrap";
@import "compass/css3/text-shadow";
@import "compass/typography/text/replacement";
@import "compass/css3/flexbox";
@import "home";