---
title: Gretel - Find the way back without breadcrumbs.
---


<ul id="scene">
  <li class="layer" data-depth="0.00"></li>
  <li class="layer background" data-depth="0.05"></li>
</ul>

<main class="home">
  <div class="row">
    <div class="col-md-6 left-col">
      <div class="left-col-inner">
        <h1>Gretel</h1>
        <h2>Find the way back without breadcrumbs.</h2>

        <div class="call-to-action">
          <a class="app-store-btn" href="#">Download Gretel APP on AppStore</a>
          <a href="#" class="video-play"><i class="fa fa-play-circle"></i> Watch the Video</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 right-col hidden-sm hidden-xs">
      <div class="hand"></div>
    </div>
  </div>
</main>